body {
    color:#40514E;
    background-color:#E4F9F5;
    text-align:center;
    font-family:'Merriweather',serif;
    }
h1{
    font-family:'Sacramento',cursive;
    font-size:5.625rem;
    margin-bottom:0px;
    color:#34495E;
    line-height:2;
    }
h2{
    font-family:'Montserrat',sans-serif;
    font-size:2.5rem;
    color:#34495E;
    font-weight:normal;
    padding:10px;
    }